<%- include("../partials/header") %>
<%- include("../partials/nav") %>

<head>
    
    <title>Edit Ticket - Moth</title>

</head>
<body>

    <div class="container my-3 graph">
        <h1 class="display-5 my-3">Edit Ticket</h1>
        <a class="btn btn-primary" href="\assignments">Back to Assignments</a>
        <a class="btn btn-success" href="\ticket\<%= ticket._id %>\comment">Add a Comment</a>

        <% if (currentUser.role === "Admin" || currentUser.role === "PM") { %>
            <form class="d-inline" action="/ticket/<%= ticket._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete Ticket</button>
            </form>
        <% } %>


        <form class="my-4" action="/ticket/<%= ticket._id %>?_method=PUT" method="POST">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="inputTitle">Title</label>
                    <input type="text" value="<%=ticket.title%>" name="ticket[title]" class="form-control" id="inputTitle" required>
                </div>
                <div class="form-group col-6">
                    <label for="inputDesc">Description</label>
                    <input type="text" value="<%=ticket.details%>" name="ticket[details]" class="form-control" id="inputDesc" required>
                </div>
                <div class="form-group col-6">
                    <label for="inputDev">Assigned Developer</label>
                    <input type="text" value="<%=ticket.developer%>" name="ticket[developer]" class="form-control" id="inputDev" required>
                </div>
                <div class="form-group col-6">
                    <label for="inputSub">Submitter</label>
                    <input type="text" value="<%=ticket.submitter%>" name="ticket[submitter]" class="form-control" id="inputSub" required>
                </div>
                <div class="form-group col-6">
                    <label for="inputProject">Project</label>
                    <input type="text" value="<%=ticket.project%>" name="ticket[project]" class="form-control" id="inputProject" required>
                </div>
                <div class="form-group col-6">
                    <label for="inputPriority">Ticket Priority</label>
                    <select name="ticket[priority]" class="form-control" id="inputPriority" required>
                        <option selected><%= ticket.priority %></option>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                        <option>Critical</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="inputStatus">Ticket Status</label>
                    <select name="ticket[status]" class="form-control" id="inputStatus" required>
                        <option selected><%= ticket.status %></option>
                        <option>New</option>
                        <option>Open</option>
                        <option>In Progress</option>
                        <option>Resolved</option>
                        <option>Need More Info</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="inputType">Ticket Type</label>
                    <select name="ticket[type]" class="form-control" id="inputType" required>
                        <option selected><%= ticket.type %></option>
                        <option>Bug</option>
                        <option>Task</option>
                        <option>Feature</option>
                        <option>Improvement</option>
                    </select>
                </div>
                <div class="col-12 my-3">
                    <button type="submit" class="btn btn-warning">Update Ticket</button>
                </div>
                
            </div>
  
        </form>


    </div>



<%- include("../partials/footer") %>

